.page-header {
  margin: 0 0 40px 0;
}

.full-page-content {
  margin: 5rem 0 5rem 0;
}

.sidebar {
  width: 25%;
}

.page-main-content {
  width: 75%;
}

@media (max-width: 900px) {
  .page-main-content {
    width: 100%;
  }
}
