.route-detail-container {
  h3 {
    font-weight: 700;
  }

  margin-left: 3.5rem;

  .grade-container {
    margin: 1rem 0 1rem 0;
  }

  .route-grade {
    font-weight: 600;
  }
  .description-container {
    margin-top: 2.5rem;
    p {
      white-space: pre-wrap;
    }
  }
  .p-margin {
    margin-top: 0.5rem;
  }
}
