/* Vertical Ellipsis Menu Styles */
.vertical-ellipsis-menu {
  position: relative;
  display: inline-block;
}

.btn-transparent {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 1px solid transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

.btn-transparent:hover {
  border-color: var(--primary-btn-color);
  background-color: rgba(0, 0, 0, 0.3);
}

.btn-transparent:focus,
.btn-transparent:focus-visible {
  outline: none;
}

.ellipsis-icon {
  padding: 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: var(--popup-bg-color); /* Background color for the menu */
  border: 1px solid #333333; /* Border for the menu */
  border-radius: 8px; /* Rounded corners for the menu */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for the menu */
  display: none;
}

.menu-item {
  padding: 10px;
  color: var(--primary-text-color); /* Text color for the menu items */
  cursor: pointer;
}

.menu-item:hover {
  background-color: #f0f0f0; /* Background color on hover */
}

.menu-visible {
  display: block;
}
/* .vertical-ellipsis-menu:hover .menu-list {
  display: block;
} */
