.mobile-menu-icon > button {
  background-color: #2c2a2a;
  border: none;
}

.mobile-menu-icon > button:focus
{
  outline: none;
}

@media (max-width: 484px) {
  .desktop-header-wrapper {
    margin: auto;
  }

  .header-wrapper {
    display: flex;
    align-items: center;
  }
}
.desktop-header-wrapper {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

div.first-btn-column {
  flex: 1;
}

div.last-btn-column {
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

div.title {
  flex: 5;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 2.5rem;
}
