nav {
  --nav-border-color: #bbb;
}

nav.top-navigation {
  margin: 2rem 0 2rem 0;
  border-bottom: 1px solid var(--nav-border-color);
  border-top: 1px solid var(--nav-border-color);

  a {
    color: #fff;
  }

  a:hover {
    color: #ccc;
  }
}

ul.navigation-list {
  display: flex;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

ul.active {
  left: 0;
  display: flex;
  flex-direction: column;
}

li {
  margin: 0 1rem 0 1rem;
  padding: 0 1rem 0 1rem;
}

.navigation-list a.active {
  color: #858585;
}

@media (min-width: 485px) {
  .visible {
    position: relative;
    top: 0;
  }
}

@media (max-width: 484px) {
  .invisible {
    top: -300px;
  }

  nav.top-navigation {
    position: fixed;
  }
}
