.inputContainer {
  flex: 1;
  margin-bottom: 20px;
}

.inputContainer:nth-child(1) {
  margin-right: 20px;
}

.modalHeader {
  color: var(--primary-text-color);
}

label {
  margin-right: 10px;
}

.formContainer {
  margin: 30px;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
}

.buttonRow {
  display: flex;
  /* justify-content: end; */
  justify-content: flex-end;
}

.formButton {
  margin: 20px 0 20px 0;
}

.formButton:nth-child(-n + 1) {
  margin-right: 50px;
}
