.modalHeader {
  color: var(--primary-text-color);
}

.formContainer {
  margin: 30px;
}

.rowContainer {
  display: flex;
  justify-content: space-between;
}

.buttonRow {
  display: flex;
  justify-content: flex-end;
}

.formButton {
  margin: 20px 0 20px 0;
}

.formButton:nth-child(-n + 1) {
  margin-right: 50px;
}

/*Mobile views*/
@media (max-width: 500px) {
  .rowContainer {
    flex-direction: column;
  }

  .buttonRow {
    flex-direction: column;
    margin-top: 30px;
  }
  .formButton:nth-child(-n + 1) {
    margin: 0;
  }
}
